body {
    text-align: center;
    background-color: #0B2839;
}

.aviso{
    font-size: xx-large;
    border-top: 1px solid #E28000;
    border-bottom: 1px solid #E28000;
}




.reproductor-contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px; /* o colócalo sobre una imagen si quieres */
}

#play-boton {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

#icono-play {
  width: 180px; /* ajusta según tu diseño */
  height: auto;
}




.cajaMagica {
    position: relative;
    width: 100%;
    max-width: 100vw;
    overflow: hidden;
}

.cajaMagica img {
    width: 100vw;
    height: auto;
    display: block;
}

.cajaMapas {
    position: absolute;
    top: 51%;
    left: 51%;
    transform: translateX(-50%);
    width: 90%;
    display: flex;
    justify-content: center;
    gap: 15%;
}

.cajaMapas iframe {
    flex: 1 1 48%;
    min-width: 260px;
    height: 500px;
    border: none;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.boton_form {
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.boton_form a {
    display: inline-block;
    background-color: #E28000;
    color: #FFFFFF;
    padding: 24px 36px;
    text-decoration: none;
    border-radius: 12px;
    font-size: 30px;
    font-family: 'Cinzel';
}

h1, h2{
    color: #ffffff;
    font-family: 'Edu NSW ACT Cursive';
}

p{
    color: #ffffff;
    font-family: 'Cinzel';
    font-size: 1em;
}

#contador {
    color: #ffffff;
    font-family: 'Edu NSW ACT Cursive';
    font-size: 3em;
    margin-top: 1em;
}

.unidad {
    font-family: 'Edu NSW ACT Cursive';
    display: inline-block;
    margin: 0 10px;
}

.numero {
    font-family: 'Cinzel';
    font-size: 3em;
    font-weight: bold;
    color: #ffffff;
}

.texto {
    font-family: 'Cinzel';
    font-size: 0.5em;
    text-transform: uppercase;
    color: #ffffff;
}

.footer {
    z-index: 1;
    position: relative;
    background-color: #0B2839;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    font-size: 0.9em;
    margin-top: 40px;
    border-top: 1px solid #ffffff33; /* línea opcional para separar */
}

.copy, .credito{
    font-family: 'Cinzel';
}