body{
    text-align: center;
    background-color: #0B2839;
}

.imagen {
    width: 100vw;
    height: auto;
    display: block;
}

h2{
    color: #aaaf;
}

h1{
    color: #aaaf;
}

#contador {
  font-size: 2em;
  margin-top: 1em;
}

.unidad {
  display: inline-block;
  margin: 0 10px;
}

.numero {
  font-size: 3em;
  font-weight: bold;
  color: #aaaf;
}

.texto {
  font-size: 0.8em;
  text-transform: uppercase;
  color: #aaaf;
}

.gform{
    background-color: orange;
}

.form{
    display: inline-block;
    background-color: #007BFF;
    color: white;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 8px;
    font-size: 16px;
    font-family: sans-serif;
}

